CCVD/
.DS_Store
.Rproj.user
CCVD_portfolio_content_March_11.R
CCVD_portfolio_content_works.R
InstallPackages.R
PDKE.Rproj
jens-notes.txt
credentials.json
locations.csv
PDKESite/Shapefiles/
garbage/
.RData
.Rhistory
PDKESite/old_shapefiles/
PDKESite/www/results
PDKESite/www/shapefile